body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#itemname{
  color: #444444;
  text-decoration: none;
}

#productpicture {
  max-height: 365px;
  max-width: 400px;
  border: 10px solid #dddddd;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
}

#itemprice {
  border: 5px solid #dddddd;
  width: 50%;
  margin-bottom: 10px;
}

.minus-button {
  border-radius: 10px 0px 0px 10px;
}

.plus-button {
  border-radius: 0px 10px 10px 0px;
}

.prodDescription-add-to-cart {
  border-radius: 10px 10px 10px 10px;
}

.quantity-selector {
  text-align: center;
}

.prodDescriptionPrice {
  color: green;
  font-size: 200%;
}

.item-description {
  margin-left: 100px;
  margin-top: 50px;
}

.payment-div {
  margin-left: 40px;
  margin-top: 50px;
  border: 2px solid #000000;
  border-radius: 25px;
  border-spacing: 15px;
  border-collapse: separate;
  text-align: center;
}

.prodDescription-add-to-cart {
  border-radius: 10px 10px 10px 10px;
  margin-top: 30px;
}

.prodDescription-order-now {
  border-radius: 10px 10px 10px 10px;
  margin-top: 30px;
}

.reviews-div {
  width: 100%;
  position: absolute;
  margin-top: 400px;
}

.review-body {
  border: 2px solid #dddddd;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

#review-textbox {
  width: 100%;
}