{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="" class="">
            {{ change_password_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                <div class="form-group">
                    {{ change_password_form.old_password.label(class="form-control-label") }}
                    {% if change_password_form.old_password.errors %}
                        {{ change_password_form.old_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in change_password_form.old_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.old_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ change_password_form.new_password.label(class="form-control-label") }}
                    {% if change_password_form.new_password.errors %}
                        {{ change_password_form.new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in change_password_form.new_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ change_password_form.confirm_password.label(class="form-control-label") }}
                    {% if change_password_form.confirm_password.errors %}
                        {{ change_password_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in change_password_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ change_password_form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ change_password_form.update_password(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}