{% extends "layout.html" %}
{% block content %}
    {% for x in range(length) %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ items[x].itemID }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ items[x].itemName }}</a></h2>
            <p class="article-content">{{ items[x].brand }}</p>
            <p class="article-content">{{ items[x].size }}</p>
            <p class="article-content">{{ items[x].price }}</p>
            <p class="article-content">{{ items[x].stock }}</p>
            <img src={{itemNamesList[x]}}>
          </div>
        </article>
    {% endfor %}
{% endblock content %}