{% extends "layout.html" %}
{% block content %}
    <div class="row p-2">
      {% for x in range(length) %}
        <div class="container-fluid media align-items-lg-center pt-5">
          <img class="img-fluid w-50 ml-lg-5 order-1 or-lg-2" id="productpicture" src={{itemNamesList[x]}}>
          <div class="media-body order-2 order-lg-1 pl-5">
            <h2><a id="itemname" href="#">{{ items[x].itemName }}</a></h2>
            <p id="itemprice"><b> {{ items[x].price }}</b></p>
            <p><b>Brand:</b> {{ items[x].brand }}</p>
            <p><b>Dimensions:</b> {{ items[x].size }}</p>
            <p><b>In Stock:</b> {{ items[x].stock }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}