{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ current_user.fname }}'s Account</h1>
                <hr>
            </div> 
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary p-5" href="{{ url_for('pastPurchases') }}">
                    <div class="row">
                        <img class="img-fluid" width="100" height="100" style="float:left" src="../static/images/FullCart.png">
                        Review past purchases
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}