{% extends "layout.html" %}
{% block content %}
    {% if length == 0 %}
    <p>There are 0 results for your search. Try using different keywords</p>
    {% else %}
        {% for x in items %}
        <div class="container-fluid media align-items-lg-center pt-5">
            <img class="img-fluid w-50 ml-lg-5 order-1 or-lg-2" id="productpicture" src={{x.image}}>
            <div class="media-body order-2 order-lg-1 pl-5">
              <h2><a id="itemname" href="#">{{ x.itemName }}</a></h2>
              <p id="itemprice"><b> {{ x.price }}</b></p>
              <p><b>Brand:</b> {{ x.brand }}</p>
              <p><b>Dimensions:</b> {{ x.size }}</p>
              <p><b>In Stock:</b> {{ x.stock }}</p>
              <a href='{{ url_for("show", itemID=x.itemID) }}'>Product Description</a>
              <a href='{{ url_for("add_to_cart", itemID=x.itemID) }}'><b>Add to Cart</b></a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock content %}